*{
    padding: 0;
    margin: 0;
}

h1{
    color: blue;
    font-size: 50px;
    box-shadow: 1px 1px 5px black;
    > span {
        font-size: 12px;
    }
}


@font-face {
    font-family: 'MyName';
    src: url('jf-openhuninn-1.1.ttf');
}

h1 {
    font-family: "MyName";
}

#box{
    width: 300px;
    height: 300px;
    background-image: url('S__29802676.jpg');
}

#box1{
    width: 300px;
    height: 300px;
    background-image: url('3F_lr_003.jpg');
}
